[defaults]
inventory = inventory/hosts.yml
roles_path = roles
host_key_checking = False
interpreter_python = auto_silent
remote_user = ansibleuser
callbacks_enabled = timer, profile_roles

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o IdentitiesOnly=yes -o PreferredAuthentications=publickey
retries=3

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False